# Node modules
node_modules/

# Log files
*.log

# Environment variables
.env

# Build output
dist/
build/

# Dependency directories
*.tgz

# IDE und Editor spezifische Dateien
.vscode/
.idea/

# OS spezifische Dateien
.DS_Store
Thumbs.db


