.footer-container {
  background-color: #ffffff9c;
  color: #000000;
  text-align: center;
  padding: 1px 0;
  position: sticky;
  width: 100%;
  margin-top: 50px;
  bottom: 0;
  left: 0;
}

.footer-container p {
  margin: 5px 0;
}

.footer-link {
  color: #000000;
  text-decoration: none;
  padding: 0 5px; /* Abstand zwischen den Links */
}

.footer-link:hover {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
