.header {
    width: 100%;
    background-color: #fff; /* Weißer Balken */
    padding: 10px 0; /* Vertikale Polsterung */
    position: fixed; /* Fixiert den Header am oberen Rand */
    top: 0;
    left: 0;
    z-index: 1000; /* Hält den Header oben, auch wenn andere Elemente darüber sind */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Leichter Schatten für Tiefe */
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    background-size: cover; /* Deckt den gesamten Header ab */
    background-position: center; /* Zentriert das Hintergrundbild */
    backdrop-filter: blur(10px); /* Optional: Unschärfe-Effekt für Text und andere Elemente */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 8px 15px; /* Höhe des Headers verringern */
  }
  