/* Container für Slider und Tabellen */
.slider-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box; /* Sicherstellen, dass Padding und Border in die Breite eingerechnet werden */
}

.stats-card {
  background-color: #333;
  border-radius: 8px;
  margin: 0 auto;
  padding: 15px;
  width: 90%;
  box-sizing: border-box; /* Padding und Border in die Breite einrechnen */
}

.table-container {
  overflow-x: auto;
  max-width: 100%; /* Sicherstellen, dass die Tabelle die volle Breite des Containers nutzt */
  box-sizing: border-box; /* Padding und Border in die Breite einrechnen */
}

.table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  margin-bottom: 20px;
  display: block;
  box-sizing: border-box; /* Padding und Border in die Breite einrechnen */
}

.table th, .table td {
  padding: 8px;
  border: 1px solid #444;
  text-align: left;
  box-sizing: border-box; /* Sicherstellen, dass das Padding nicht die Breite beeinflusst */
}

.table th {
  background-color: #555;
}

.table td {
  background-color: #333;
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
  .stats-card {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .table th, .table td {
    padding: 5px;
  }

  .table {
    font-size: 0.9em;
    min-width: unset;
  }
}

/* Querformat-Stile */
@media (orientation: landscape) {
  .container {
    padding: 10px;
  }

  table {
    font-size: 1em;
  }

  .header h1 {
    font-size: 1.5rem;
  }
}
