/* General styling */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 5px;
  /* Reduziertes Padding */
  width: 100%;
  box-sizing: border-box;
}

.navbar a,
.dropbtn {
  color: #000;
  background-color: #fff;
  padding: 6px 15px;
  /* Reduziertes Padding innerhalb der Links und Buttons */
  text-decoration: none;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(185, 148, 148, 0.2);
  cursor: pointer;
  margin: 5px;
}

.navbar a:hover,
.dropbtn:hover {
  background-color: #000;
  color: #fff;
  box-shadow: 0 4px 30px rgba(14, 13, 13, 0.87);
}

/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content a {
  color: #000;
  background-color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Responsive Hamburger Menu */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.hamburger-lines {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}

.line {
  height: 4px;
  background: #000;
  border-radius: 2px;
  transition: 0.4s;
}

.line1 {
  transform-origin: 0% 0%;
}

.line3 {
  transform-origin: 0% 100%;
}

/* Hide checkbox */
.checkbox {
  display: none;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items.open {
  display: block;
}

@media (max-width: 768px) {
  .menu-items {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    transform: translateX(-150%);
    transition: transform 0.5s ease-in-out;
    display: none;
  }

  .menu-items.open {
    transform: translateX(0);
  }

  .hamburger-lines {
    display: flex;
  }

  .line1.rotate {
    transform: rotate(45deg);
  }

  .line2 {
    opacity: 0;
  }

  .line3.rotate {
    transform: rotate(-45deg);
  }

  .navbar a,
  .dropbtn {
    padding: 10px 0;
    /* Reduziertes Padding für mobile Ansicht */
    width: 100%;
    text-align: center;
  }

  .dropdown-content {
    width: 100px;
  }
}