.players-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .filters label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .filters select,
  .filters input[type="number"] {
    width: 100%;
    padding: 10px 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #333;
    transition: all 0.3s ease;
  }
  
  .filters select:focus,
  .filters input[type="number"]:focus {
    border-color: #555;
    background-color: #fff;
    outline: none;
  }
  
  .filters select:hover,
  .filters input[type="number"]:hover {
    border-color: #888;
    background-color: #f2f2f2;
  }
  
  .filters select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="black" height="10" viewBox="0 0 24 24" width="10" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
    background-size: 10px;
  }
  
  /* Container für die Filter */
  .filters {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .filter-row {
    width: 100%;
  }
  
  .table-wrapper {
    overflow-x: auto; /* Ermöglicht horizontales Scrollen */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    border: 1px solid #fff; /* Weißer Rahmen */
  }
  
  th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  /* Show More Button */
  .show-more-button {
    display: block;
    margin: 20px auto; /* Zentriert den Button */
    padding: 10px 20px;
    background-color: #000; /* Schwarze Farbe */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
  }
  
  .show-more-button:hover {
    background-color: #333; /* Dunkleres Schwarz bei Hover */
  }
  