/* Allgemeines Container-Styling */
.container {
  position: relative;
  margin: 20px;
  overflow-x: hidden; /* Verhindert horizontales Scrollen */
}

/* Header */
.header h1 {
  font-size: 24px; /* Angepasste Standardgröße für mobile Geräte */
  margin: 20px;
  padding: 0;
  text-align: center; /* Zentriert die Überschrift */
}

/* Wrapper für die Tabelle */
.table-wrapper {
  overflow-x: auto;
  margin-top: 20px;
}

/* Tabelle */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  display: block;
}

/* Zellen */
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word; /* Längere Wörter brechen, um sie in kleineren Spalten anzuzeigen */
}

/* Kopfzeilen */
th {
  background-color: #f4f4f4;
}

/* Show More Button */
.show-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
  .header h1 {
    font-size: 20px;
    margin: 10px;
  }

  th, td {
    padding: 5px;
  }

  .show-more-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  table {
    font-size: 0.85em;
    width: 100%; /* Sicherstellen, dass die Tabelle die volle Breite des Containers einnimmt */
  }

  .container {
    padding: 0 10px;
  }

  th, td {
    white-space: nowrap;
  }

  .filter-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .filter-row label {
    flex: 1 1 48%; /* Stellt sicher, dass die Filter in zwei Reihen angeordnet sind */
    margin-bottom: 10px;
  }
}

/* Querformat-Stile */
@media (orientation: landscape) {
  .container {
    padding: 10px;
  }

  table {
    font-size: 1em;
  }

  .header h1 {
    font-size: 1.5rem;
  }
}
