@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* frontend/src/assets/StatsTable.css */

.leaderboard-table {
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  margin-bottom: 20px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff !important;
  padding: 10px 15px;
  font-weight: bold;
}

.table-subheader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 15px;
  background-color: #ffffff;
  font-weight: normal;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
}

.subheader-name {
  flex-grow: 1;
  text-align: left;
}

.subheader-games,
.subheader-average {
  width: 40px;
  text-align: center;
}

.full-list-link {
  color: #007bff;
  text-decoration: none;
}

.full-list-link:hover {
  text-decoration: underline;
}

.leaderboard-content {
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}

.leader-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #e0e0e0;
  font-weight: normal;
  height: 80px;
  /* Feste Höhe für die Tabellenzeilen */
}

.leader-highlight {
  background: linear-gradient(90deg, #f28b20, #f0a500);
  color: #000000;
  font-weight: bold;
}

/* Erzwinge fetten Text nur für den Link im Highlight */
.leader-highlight .leader-name a {
  font-weight: bold;
  /* Nur der hervorgehobene Name fett */
}

.leader-highlight .games,
.leader-highlight .average {
  font-weight: bold;
}

.leader-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.leader-image {
  width: 45px;
  height: auto;
  border-radius: 0%;
  margin-right: 10px;
}

.leader-name {
  font-size: 13px;
  word-wrap: break-word;
  max-width: 100px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  font-weight: normal;
}

.leader-name a {
  color: #000000;
  text-decoration: none;
  font-weight: normal;
}

.leader-name a:hover {
  text-decoration: underline;
}

.leader-stats {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  width: 75px;
  font-weight: normal;
}

.games,
.average {
  width: 40px;
  text-align: center;
  font-size: 13px;
  color: #333;
  font-weight: normal;
}

.subheader-games,
.subheader-average {
  text-align: center;
  color: #333;
}

.subheader-games {
  margin-right: 10px;
}

.subheader-average {
  margin-left: 10px;
}