/* frontend/src/assets/StatsTable.css */

.leaderboard-table {
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  overflow: hidden;
  margin-bottom: 20px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff !important;
  padding: 10px 15px;
  font-weight: bold;
}

.table-subheader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 15px;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
}

.subheader-name {
  flex-grow: 1;
  text-align: left;
}

.subheader-games,
.subheader-average {
  width: 40px;
  text-align: center;
}

.full-list-link {
  color: #007bff;
  text-decoration: none;
}

.full-list-link:hover {
  text-decoration: underline;
}

.leaderboard-content {
  padding: 10px;
}

.leader-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #e0e0e0;
}

.leader-item:last-child {
  border-bottom: none;
}

.leader-highlight {
  background: linear-gradient(90deg, #f28b20, #f0a500);
  color: #000000;
}

.leader-highlight .leader-name {
  font-weight: bold;
}

.leader-highlight .games,
.leader-highlight .average {
  color: #000000;
  font-weight: bold;
}

.leader-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.leader-image {
  width: 40px;
  height: auto;
  border-radius: 0%;
  margin-right: 5px;
}

.leader-name {
  font-size: 16px;
  font-weight: normal;
  word-wrap: break-word;
  max-width: 100px;
}

/* Ändere die Farbe der Links in der Spielername */
.leader-name a {
  color: #000000;
  /* Link-Farbe auf Schwarz setzen */
  text-decoration: none;
  font-weight: bold;
}

.leader-name a:hover {
  text-decoration: underline;
  /* Optional: Unterstreichung bei Hover */
}

.leader-stats {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 90px;
}

.games,
.average {
  width: 40px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.subheader-games,
.subheader-average {
  text-align: center;
  color: #333;
}

.subheader-games {
  margin-right: 10px;
}

.subheader-average {
  margin-left: 10px;
}