.teams-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
    background-color: #f9f9f9;
}
  
.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
  
.table-wrapper {
    overflow-x: auto; /* Ermöglicht horizontales Scrollen */
}
  
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    border: 1px solid #fff; /* Weißer Rahmen */
}
  
th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}
