body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  overflow-x: hidden;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-size: 2rem;
}

.filters {
  margin-top: 40px; /* Abstand zwischen Navbar und Filtern */
  margin-bottom: 20px;
  margin-right: 80px;
}

.filter-row {
  display: flex;
  flex-wrap: nowrap; /* Verhindert das Umbruch der Filter */
  justify-content: space-between;
  margin-bottom: 10px;
}

.filter-row label {
  flex: 1 1 150px; /* Setzt eine feste Breite für die Filter */
  min-width: 140px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.filter-row select,
.filter-row input {
  padding: 2px;
  font-size: 14px;
  width: 100%;
  max-width: 200px;
  margin: 0;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  color: #333;
  display: block;
  border: none; /* Äußerer Rahmen entfernt */
}

th, td {
  padding: 6px;
  border-bottom: 1px solid #ddd;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 0.85em; /* Schriftgröße leicht verringert */
}

/* Spalte 1 (#) zentriert */
td:first-child {
  text-align: center !important;
  width: 40px;
}

/* Spalte 2 (Team) linksbündig */
td:nth-child(2) {
  text-align: left !important;
}

/* Spalte 3 (DIV) zentriert */
td:nth-child(3) {
  text-align: center !important;
  width: 8px; /* Einheitliche Spaltenbreite ab hier */
}

/* Ab Spalte 3 alle Zellen zentriert und mit einheitlicher Breite */
td:nth-child(n+3) {
  text-align: center !important;
  width: 8px;
}

th {
  background-color: #fff;
  color: #000;
  text-align: center !important;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  width: 8px; /* Einheitliche Spaltenbreite für Kopfzeilen */
}

@media (max-width: 768px) {
  .header {
    font-size: 1.5rem;
  }

  th, td {
    padding: 4px;
  }

  table {
    font-size: 0.85em;
    width: 100%;
  }

  .container {
    padding: 0 10px;
  }

  th, td {
    white-space: nowrap;
  }
}

@media (orientation: landscape) {
  .container {
    padding: 10px;
  }

  table {
    font-size: 1em;
  }

  .header {
    font-size: 1.5rem;
  }
}

/* Reihenfolge der Filter anpassen */
.filter-row label:nth-child(1) {
  order: 1; /* League bleibt an erster Stelle */
}

.filter-row label:nth-child(2) {
  order: 2; /* Stats Type bleibt an zweiter Stelle */
}

.filter-row label:nth-child(3) {
  order: 3; /* Division kommt nun an dritte Stelle */
}

.filter-row label:nth-child(4) {
  order: 4; /* Sort Column wird an die vierte Stelle verschoben */
}

